<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FabrinoDBConnection"
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=FabrinoDB;Integrated Security=True;"
             providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>